<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app>

    <display-name>HW14KapinosVA</display-name>
    <description>My WAR is not your WAR</description>

    <servlet>
        <servlet-name>signInRequestsServlet</servlet-name>
        <servlet-class>webServer.servlets.SignInRequestsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signUpRequestsServlet</servlet-name>
        <servlet-class>webServer.servlets.SignUpRequestsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editUserRequestServlet</servlet-name>
        <servlet-class>webServer.servlets.EditUserRequestServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>editUserRequestServlet</servlet-name>
        <url-pattern>/getuser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adminPageRequestServlet</servlet-name>
        <servlet-class>webServer.servlets.AdminPageRequestServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>adminPageRequestServlet</servlet-name>
        <url-pattern>/adm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signInRequestsServlet</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signUpRequestsServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>