<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app>

    <display-name>HW14KapinosVA</display-name>
    <description>My WAR is not your WAR</description>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:SpringBeans.xml</param-value>
    </context-param>

    <servlet>
        <servlet-name>signInRequestsServlet</servlet-name>
        <servlet-class>webServer.servlets.SignInRequestsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signUpRequestsServlet</servlet-name>
        <servlet-class>webServer.servlets.SignUpRequestsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editUserRequestServlet</servlet-name>
        <servlet-class>webServer.servlets.EditUserRequestServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>adminPageRequestServlet</servlet-name>
        <servlet-class>webServer.servlets.AdminPageRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allRequestsServlet</servlet-name>
        <servlet-class>webServer.servlets.AllRequestsServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>adminPageRequestServlet</servlet-name>
        <url-pattern>/adm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signInRequestsServlet</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signUpRequestsServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>editUserRequestServlet</servlet-name>
        <url-pattern>/getuser</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>allRequestsServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>


</web-app>