<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="cacheEngine" class="cache.CacheEngineImpl">
        <constructor-arg name="maxElements" value="10"/>
        <constructor-arg name="lifeTimeMs" value="0"/>
        <constructor-arg name="idleTimeMs" value="0"/>
        <constructor-arg name="isEternal" value="true"/>
    </bean>
    <bean id="messageSystemContext" class="app.MessageSystemContext">
        <constructor-arg name="messageSystem" ref="messageSystem"/>
        <property name="asAddressee">
            <ref bean="accountService"></ref>
        </property>
        <property name="lsAddressee">
            <ref bean="loginService"></ref>
        </property>
        <property name="FrontAddressee">
            <ref bean="frontEndService"></ref>
        </property>
    </bean>
    <bean id="messageSystem" class="messageSystem.MessageSystem">
    </bean>
    <bean id="frontEndService" class="frontEndService.FrontEndServiceImpl">
    </bean>

    <bean id="dbService" class="dbService.DBServiceHibernate">
        <constructor-arg name="cacheEngine" ref="cacheEngine"/>
    </bean>
    <bean id="accountService" class="accountService.DBAccountServiceImpl">
        <constructor-arg name="dbService" ref="dbService"/>
    </bean>
    <bean id="loginService" class="accountService.LoginServiceImpl">
        <constructor-arg name="ac" ref="accountService"/>
    </bean>
</beans>